.desc {
  color: lightgray;
  font-size: 12px;
  font-weight: normal;
}

.fm_radio_icon {
  background-image: url('./recorder24x24.png');
  width: 24px;
  height: 20px;
  display: inline-block;
  margin: 0 4px -2px;
}
